:root {
  --red: rgb(170, 0, 0);
  --red-darker: rgb(110, 0, 0);

  --light: rgb(255, 255, 255);
  --dark: rgb(18, 18, 18);
  --darkish: rgb(50, 50, 50);
  --dark-text: rgb(189, 189, 189);
  --darkish-text: rgb(221, 221, 221);
}

body {
  font-family:Arial, Helvetica, sans-serif;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.sidenav {
  height: 100%;
  width: 200px;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--darkish);
  overflow: auto;
  text-align: right;
}

.sidenav a {
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  font-size: larger;
  display: block;
  color: var(--darkish-text);
}

.sidenav a.active {
  background-color: var(--red);
}

.sidenav .nav-links a:hover {
  color: var(--darkish-text);
  background-color: var(--red-darker);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

/* Push to bottom of parent div */
div.nav-ext {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  display: flex;
}

div.nav-ext a {
  padding: 0.5rem;
}

div.nav-ext path {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

div.dark-div {
  text-align: center;
  padding-bottom: 1rem;
}

div.main {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    float: left;
  }
  div.main {
    margin-left: 0;
  }
  .sidenav .nav-ext {
    display: none;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

.btn-primary {
  background-color: var(--red);
  border-color: var(--red-darker);
  /* -webkit-transition: all 0.1s ease-in-out; */
}

.btn-primary:hover {
  background-color: var(--red-darker);
  border-color: var(--red);
}

.btn-primary:focus {
  background-color: var(--red-darker);
  border-color: var(--red);
}

.btn-primary:active {
  background-color: var(--red) !important;
  border-color: var(--red-darker) !important;
}

.dark-mode {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  background-color: var(--dark);
  color: var(--dark-text);
}

a {
  color: var(--red);
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

hr {
  background-color: var(--red);
}

table.header td {
  width: 100%;
}

table.details td {
  width: 100%;
}

.right {
  text-align: right;
}

table.skills {
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
}

table.skills td, table.skills th {
  border: 1px solid;
  padding: 0.5rem;
  border-top: 0px;
  border-bottom: 0px;
  vertical-align: top;
}

tr.split td {
  border-top: 2px solid;
}

.dark-btn {
  display: inline-block;
}